
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #6b1781, #1fb6a4);
      color: white;
    }

    .container {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      padding: 30px;
      border-radius: 15px;
      width: 60%;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
      /* text-align: center; */
    }

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 8px;
      outline: none;
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background: #ff9800;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: #e68900;
    }

    .result {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.5;
    }
  
  #photo{
width:40%;
object-fit: cover;
  }
  .baba{
    display: flex;
    background-color: rgb(33, 12, 126);
    width:800px;
    margin: auto;
    overflow: hidden;
  }
  img{
    height: 100%;
    width: 100%;
  }